# Gradle files
.gradle/
build/

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Local custom JDK & Gradle distributions
temp_gradle/

# Operating System files
thumbs.db
.DS_Store
*.log

# CurseForge Junction
CurseForge_Mods/

# Gradle build output Junction
Sortie_JAR/


